Source: python-moira
Section: python
Priority: extra
Maintainer: Evan Broder <broder@mit.edu>
Build-Depends: debhelper (>= 7), python-all-dev (>= 2.6.6-3~), python2.7, python-pyrex, python-setuptools, debathena-libmoira-dev, debathena-libmrclient-dev
Standards-Version: 3.9.4

Package: python-moira
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Provides: ${python:Provides}
X-Python-Version: 2.7
Description: Python bindings for Moira
 PyMoira provides a set of Python bindings for Moira, the Athena
 Service Management system.
